<div class="wrapper">
  <div class="container">
    <div class="blog-box-wrap" *ngFor="let item of list">
      <!-- <h3>Colleges in North India</h3> -->

      <div class="blog-box clearfix">
        <em id="pointer">promoted</em>
        <figure>
          <span class="rating-box">3.9/5 <small>Very Good</small></span>
          <img src="assets/college_01.jpg" alt="college_img" />
          <div class="fig-cap">
            <ul>
              <li>Best college 2018</li>
              <li>2kms away</li>
            </ul>
            <p>#7 in 260 colleges in north campus</p>
          </div>
        </figure>
        <div class="blog-details">
          <div class="clg-name">
            <h4>
              Hansraj College Delhi University
              <ul>
                <li>&#8902;</li>
                <li>&#8902;</li>
                <li>&#8902;</li>
                <li>&#8902;</li>
                <li>&#8902;</li>
              </ul>
            </h4>
            <span
              ><del>&#8377;6,8756</del> <span class="discount">*20</span></span
            >
          </div>
          <div class="clg-small">
            <p>
              Near Vishwavidyalya Metro Station |
              <small>2 Kms away from bus stand</small>
            </p>
            <span>
              &#8377; <b>5,788</b>
              <small>Per Semester (3 months)</small>
            </span>
          </div>
          <div class="clg-badage">
            <div class="blue-badage">
              Flat Rs.<span class="fig">2,000</span> off +<span class="fig"
                >500</span
              >
              wallet <a href="#"><b>LOGIN</b></a>
            </div>
            <p>Free Cancellation . Free Wi-Fi</p>
          </div>
        </div>
      </div>

      <div class="blog-box clearfix">
        <em id="pointer">promoted</em>
        <figure>
          <span class="rating-box">3.9/5 <small>Very Good</small></span>
          <img src="assets/college_02.jpg" alt="college_img" />
          <div class="fig-cap">
            <ul>
              <li>Best college 2018</li>
              <li>2kms away</li>
            </ul>
            <p># 7 in 260 colleges in North Campus</p>
          </div>
        </figure>
        <div class="blog-details">
          <div class="clg-name">
            <h4>
              Ramjas College Delhi University
              <ul>
                <li>&#8902;</li>
                <li>&#8902;</li>
                <li>&#8902;</li>
                <li>&#8902;</li>
                <li>&#8902;</li>
              </ul>
            </h4>
            <span
              ><del>&#8377; 6,8756</del> <span class="discount">*20</span></span
            >
          </div>
          <div class="clg-small">
            <p>
              Near Vishwavidyalya Metro Station |
              <small>2 Kms away from bus stand</small>
            </p>
            <span
              >&#8377; <b>5,788</b>
              <small>Per Semester (3 months)</small>
            </span>
          </div>
          <div class="clg-badage">
            <div class="blue-badage">
              Flat Rs.<span class="fig">2,000</span> off +<span class="fig"
                >500</span
              >
              wallet <a href="#"><b>LOGIN</b></a>
            </div>
            <p>Free Cancellation . Free Wi-Fi</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
